body{
  background-image:  url(../images/bg_Argyle.jpg);
}

div.h1_center {
  text-align: center;
}

p.img_center {
  text-align: center;
}

div.p_center {
  text-align: center;
}

.caption{
  color:#ff4500;
}

ul {
  list-style: circle;
}


.img-center {
  text-align: center;
}

.img-center img {
  border: double 10px red;
}

table td {
  border: 3px #ff4500 solid;
}

.flex {
  display: flex;
}

.flex .image {
  width: 310px;
  margin: 0;
  padding: 0;
  position: relative;
}

.flex .text {
  margin: 0 0 0 0px;
  padding: 0;
}

h1{
  text-align: center;
}

.box_a{
  text-align: center;
  border: 2px solid pink;
  border-radius: 30px;
  box-shadow:
    0 1.9px 2.5px rgba(0, 0, 0, 0.057),
    0 5px 6.1px rgba(0, 0, 0, 0.076),
    0 10.1px 11.4px rgba(0, 0, 0, 0.086),
    0 19.2px 19.8px rgba(0, 0, 0, 0.092),
    0 38.4px 34.8px rgba(0, 0, 0, 0.1),
    0 101px 74px rgba(0, 0, 0, 0.13);
  background-color: white;
  padding: 20px 20px 0px 20px;
  height: 600px;
  width: 600px;
  margin: 0 auto;
}

div style{
  border: 2px 5px 5px 2px solid black;
}